@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .clip-left-slant {
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .clip-under-right-slant-mobile {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 95% 100%, 0% 100%);
  }

  .clip-under-right-slant-desktop {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%);
  }

  .clip-top-left-slant {
    clip-path: polygon(0% 1%, 100% 0%, 100% 100%, 0% 100%);
  }

  .clip-banner-slant-mobile {
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 60%);
  }
  .clip-banner-slant-desktop {
    clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 65%);
  }
  .clip-logo-slant {
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
  }
  .clip-swiper-slant {
    clip-path: polygon(0 0, calc(100% - 50px) 0, 100% 100%, 0 100%);
  }

  .clip-button-slant {
    clip-path: polygon(
      0 0,
      calc(100% - 10px) 0,
      100% 10px,
      100% 100%,
      10px 100%,
      0 calc(100% - 10px)
    );
  }
}

.clip-detail-slant {
  clip-path: polygon(0 0, 100% 8vw, 100% 100%, 0 100%);
}

.clip-cart-slant {
  clip-path: polygon(
    0 0,
    calc(100% - 10px) 0,
    100% 10px,
    100% 100%,
    10px 100%,
    0 calc(100% - 10px)
  );
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.animate-progress {
  animation: progress 3s linear forwards;
}
