/* Custom Swiper Pagination  */
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.custom-swiper-pagination .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, 20px);
  height: var(--swiper-pagination-bullet-height, 4px);
  background: var(--swiper-pagination-bullet-inactive-color, #bcbcbc);
  border-radius: var(--swiper-pagination-bullet-border-radius, 10px);
  transition:
    width 0.3s,
    height 0.3s; /* Smooth transition for size change */
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  width: var(--swiper-pagination-bullet-active-width, 30px);
  height: var(--swiper-pagination-bullet-active-height, 8px);
  background: var(--swiper-pagination-color, #c8aa6e);
}
